@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 1);
  background-color: 	#097969;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-1 {
  animation: slideInRight 0.5s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-2 {
  animation: slideInRight 0.55s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-3 {
  animation: slideInRight 0.6s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-4 {
  animation: slideInRight 0.75s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-5 {
  animation: slideInRight 0.8s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-6 {
  animation: slideInRight 0.85s ease-out forwards; /* Adjust duration and easing as needed */
}