@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Intensa Fuente";
  src: url("assets/fonts/Intensafuente.ttf") format("truetype");;
}

:root {
  font-family: "Tw Cen MT", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 1);
  
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background: linear-gradient(-45deg, #8fc333, #007b9a);
	background-size: 240% 240%;
	animation: gradient 9s ease infinite;
	height: 100vh;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-splash{
  font-family: "Intensa Fuente";
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-slide-in-1 {
  animation: slideInRight 0.5s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-2 {
  animation: slideInRight 0.55s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-3 {
  animation: slideInRight 0.6s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-4 {
  animation: slideInRight 0.75s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-5 {
  animation: slideInRight 0.8s ease-out forwards; /* Adjust duration and easing as needed */
}

.animate-slide-in-6 {
  animation: slideInRight 0.85s ease-out forwards; /* Adjust duration and easing as needed */
}

.memory {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-alternate {
  @apply bg-white text-orange-500;
}

.card-container {
  @apply gap-4 grid grid-cols-3 grid-rows-4 max-w-max;
}


.card {
  @apply w-80 h-80 flex items-center justify-center mx-auto rounded-3xl;
  background-color: #0a452c;
  /* border-radius: 1rem; */
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}


.card-face.card-front-face > img {
  @apply h-32;
}

#confetti{
	background: #000;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -1;
}
#root > main > div.card-container.animate-slide-in-2.mt-4 > div:nth-child(3) > div.card-face.card-back-face > img

.card-face .card-back-face > img {
  @apply h-28 w-28;
}

.card .card-face {
  backface-visibility: hidden;
  position: absolute;
}

.card .card-face.card-back-face {
  
  @apply rounded-3xl;
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card.is-inactive {
  opacity: 0;
}

/* Fix in case tailwind doesn't load bg color */
.bg-yellow-300{
  background-color: rgb(253, 224, 71);
}

.bg-mikia {
  background: linear-gradient(309deg, #8fc333, #007b9a);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.trivia-score {
  position: relative;
  height: 100vh; /* Ensure it takes the full viewport height */
}

.orange-circle {
  position: absolute;
  bottom: 0;
  left: -10%;
  right: 0;
  background-color: #ff6f00;
  border-radius: 50% 50% 0 0;
  width: 120%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  position: relative;
  z-index: 1;
  margin-top: -30px; /* Adjust as necessary to ensure it is above the circle */
}

#confetti{
  background: linear-gradient(-45deg, #8fc333, #007b9a);
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -1;
}

main {
  @apply h-lvh w-full flex flex-col items-center justify-center gap-y-12;
}

header {
  @apply flex items-center;
}

.main__title {
  @apply text-8xl font-bold text-center;
}

.main__subtitle {
  @apply text-6xl font-bold text-center;
}
/* form > div > label {
  @apply text-5xl;
} */
.form__label {
  @apply text-5xl;
}
.form__input {
  @apply rounded-xl flex w-full px-3 py-4 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-orange-600 outline-none text-black text-5xl mt-2;
}

.score-message{
  line-height: 0.8;
}

.loader {
  @apply h-64 w-64;
  border: 9px solid #FFF;
  border-bottom-color: #f97316;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .table__head {
    position: sticky; /* Use sticky for fixed positioning */
    top: 0; /* Position at the top of the container */
    background-color: inherit; /* Optional: match background color */
  }
  